@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "arrows";
  src: url("../fonts/arrows.ttf?ay2z6b") format("truetype"), url("../fonts/arrows.woff?ay2z6b") format("woff"), url("../fonts/arrows.svg?ay2z6b#arrows") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_arrow-]::before,
[class*=" _arrow-"]::before {
  font-family: "arrows" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._arrow-arrow-right:before {
  content: "\e900";
}

._arrow-arrow-left:before {
  content: "\e901";
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff?nnl3ms") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]::before,
[class*=" _icon-"]::before {
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-search:before {
  content: "\e901";
}

._icon-speed:before {
  content: "\e902";
}

._icon-people:before {
  content: "\e900";
}

._icon-play:before {
  content: "\e907";
}

._icon-twitter:before {
  content: "\e908";
}

._icon-mmm:before {
  content: "\e909";
}

._icon-fb:before {
  content: "\e90a";
}

._icon-telegram:before {
  content: "\e90b";
}

._icon-apple:before {
  content: "\e90c";
}

._icon-atlassian:before {
  content: "\e90d";
}

._icon-audi:before {
  content: "\e90e";
}

._icon-bitbucket:before {
  content: "\e90f";
}

._icon-facebook:before {
  content: "\e910";
}

html,
body {
  color: #8D96BD;
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
}

html._lock,
body._lock {
  overflow: hidden;
}

.page {
  padding: 82px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 35px;
}

.social__item {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  font-size: 16px;
  margin: 0 30px 0 0;
  color: #B6BAC7;
}

.social__item:last-child {
  margin: 0;
}

.social__item:hover {
  color: #5E81FE;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 900px;
  margin: 0 auto;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  display: block;
  height: 60px;
  padding: 0 23px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #7A85AD;
  background-color: #EFEFF7;
  border-radius: 5px;
}

.btn {
  background-color: #4C85FF;
  border-radius: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 43px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  line-height: 123.0769230769%;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 16px;
}

.btn--get-started {
  background-color: #D2E1FF;
  color: #3A79FF;
}

.btn--get-started:hover {
  background-color: #5e81fe;
  color: #d2e1ff;
}

.btn--view {
  padding: 0 25px;
  z-index: 5;
}

.btn--view i {
  font-size: 0.8em;
  margin-left: 8px;
  line-height: 1em;
}

.btn--view:hover {
  background-color: #fff;
  color: #4C85FF;
}

.btn--transparent {
  background-color: transparent;
  padding: 0 21px;
  color: #ADB4D2;
  border: 1px solid #ADB4D2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 2px;
  margin-left: -1px;
}

.btn--transparent-blue {
  color: #C7D3FF;
  border-color: #A0B4FF;
}

.btn--transparent:hover {
  border: none;
}

.btn--read-more {
  color: #D43F3F;
  background-color: #FFD7D7;
}

.btn--read-more:hover {
  background-color: #D43F3F;
  color: #FFD7D7;
}

.btn--docs {
  color: #7382A3;
  background-color: #E8ECF4;
  font-weight: 500;
}

.btn--docs:hover {
  text-decoration: underline;
}

.btn--pricing {
  color: #565F82;
  background-color: #fff;
  font-weight: 700;
  z-index: 5;
}

.btn--pricing:hover {
  background-color: #565F82;
  color: #fff;
}

.btn--save {
  color: #fff;
  font-weight: 700;
  z-index: 5;
  font-size: 13px;
  padding: 0 60px;
  background: #4D6CE1;
  -webkit-box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
          box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
  border-radius: 5px;
  height: auto;
  white-space: nowrap;
}

.btn--save:hover {
  background-color: #fff;
  color: #5E81FE;
}

.title {
  font-size: 44px;
  font-weight: 700;
  color: #21243d;
  line-height: 136.3636363636%;
}

.text {
  line-height: 193.3333333333%;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  max-width: 500px;
  color: #8D96BD;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: block;
  z-index: 20;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #5E81FE;
  margin-right: 65px;
  cursor: pointer;
}

.header__content {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__menu {
  height: 82px;
  padding: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2;
}

.menu__body._active {
  right: 0;
}

.menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 115.3846153846%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: #697CA6;
  text-shadow: 0px 0px 5px #E6E6E6;
}

.menu__link._active,
.menu__link:hover {
  color: #5E81FE;
  font-weight: 700;
}

.icon-menu {
  display: none;
}

.section--intro {
  padding: 80px 0 250px;
  background-image: url(../img/headerBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section--intro .section__header {
  text-align: center;
}

.section--intro .section__text {
  text-align: center;
  margin: 0 auto;
}

.section--customers {
  padding: 58px 0;
}

.section__suptitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
}

.section__title {
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  margin: 16px 0 28px 0;
  color: #3D4F9F;
}

.section__title span {
  font-weight: 500;
}

.section__header--small {
  text-align: center;
}

.section__header--small .section__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customers__item {
  font-size: 29px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  text-align: center;
}

.customers__item a {
  color: #D6DAE5;
  -webkit-transition: color 0.4s ease 0s;
  -o-transition: color 0.4s ease 0s;
  transition: color 0.4s ease 0s;
}

.customers__item a:hover {
  color: #5E81FE;
}

.section--plan {
  background-image: url(../img/Plan/illustration.png);
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: right top 120px;
  background-color: #F5F8FF;
  padding: 180px 0;
}

.plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plan__info {
  max-width: 410px;
}

.plan__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.section--features {
  background-image: url(../img/features/featuresBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.features {
  padding: 160px 0 170px;
}

.features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px 0 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.features__image {
  text-align: center;
  margin: 0 auto;
}

.features__title {
  font-family: "Open Sans", sans-serif;
  color: #5E81FE;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  margin: 24px 0;
}

.features__title h2 {
  text-align: center;
}

.features__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  text-align: center;
  max-width: 140px;
  color: #ADB3CB;
}

.features__text p {
  text-align: center;
}

.features__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__separator {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #ADB3CB;
  text-transform: uppercase;
}

.features__separator:before,
.features__separator:after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 1px;
  background-color: #DAE4FE;
  z-index: 1;
  margin: 0 16px 3px;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stats__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 65px 0;
}

.stats__column--left {
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-right: 90px;
  color: #fff;
  background: -o-linear-gradient(220.68deg, #6888FF 12.77%, #5E80FF 73.11%);
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
}

.stats__column--right {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-left: 90px;
  text-align: left;
  color: #5E80FF;
  background: -o-linear-gradient(348.52deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
  background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
}

.stats__icon {
  font-size: 66px;
}

.stats__number {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 172.9166666667%;
}

.stats__text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 127.7777777778%;
  letter-spacing: 0.03em;
  max-width: 260px;
}

.blog {
  padding: 100px 0;
  background: #F5F8FF;
}

.blog__content {
  position: relative;
}

.blog__content .slick-list {
  overflow: hidden;
}

.blog__content .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.blog__content .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 26px;
  height: 18px;
  background-color: transparent;
}

.blog__content .slick-arrow.slick-prev {
  left: 10%;
  background-image: url("../img/blog/arrowLeft.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.blog__content .slick-arrow.slick-next {
  right: 10%;
  background-image: url("../img/blog/arrowRight.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.blog__content .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog__content .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.blog__content .slick-dots li button {
  font-size: 0;
  width: 8px;
  height: 8px;
  background-color: #D1D6E3;
  border-radius: 50%;
}

.blog__content .slick-dots li.slick-active button {
  background-color: #5283FF;
}

.blog__item {
  max-width: 960px;
  background-color: #fff;
  margin: 75px auto;
  padding: 65px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 65px;
}

.blog__icon {
  display: none;
  text-align: center;
  width: 65px;
  height: 65px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #fff;
  padding: 24px;
  color: #a7aac6;
  border-radius: 50%;
  font-size: 18px;
  -webkit-transform: translate3d(150%, 150%, 0);
          transform: translate3d(150%, 150%, 0);
}

.blog__icon:hover {
  color: #5E81FE;
}

.blog__image {
  width: 126px;
  height: auto;
  -webkit-filter: drop-shadow(0px 15px 100px #E5EBF8);
          filter: drop-shadow(0px 15px 100px #E5EBF8);
  border-radius: 5px;
  position: relative;
}

.blog__image:hover .blog__icon {
  display: block;
}

.blog__image:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -o-linear-gradient(76.54deg, rgba(255, 199, 53, 0.44) 1.89%, rgba(255, 227, 154, 0.93) 1.9%, rgba(255, 159, 90, 0) 68.24%);
  background: linear-gradient(13.46deg, rgba(255, 199, 53, 0.44) 1.89%, rgba(255, 227, 154, 0.93) 1.9%, rgba(255, 159, 90, 0) 68.24%);
}

.blog__image--2 {
  margin-bottom: 13px;
}

.blog__image--2:before {
  background: -o-linear-gradient(62.52deg, rgba(255, 53, 53, 0.48) 14.02%, rgba(255, 179, 90, 0) 68%);
  background: linear-gradient(27.48deg, rgba(255, 53, 53, 0.48) 14.02%, rgba(255, 179, 90, 0) 68%);
}

.blog__image--2 .blog__icon {
  -webkit-transform: translate3d(50%, 50%, 0);
          transform: translate3d(50%, 50%, 0);
}

.blog__image--3:before {
  background: -o-linear-gradient(76.51deg, rgba(53, 170, 255, 0.68) 11.59%, rgba(90, 136, 255, 0) 96.88%);
  background: linear-gradient(13.49deg, rgba(53, 170, 255, 0.68) 11.59%, rgba(90, 136, 255, 0) 96.88%);
}

.blog__image--3 .blog__icon {
  -webkit-transform: translate3d(50%, 50%, 0);
          transform: translate3d(50%, 50%, 0);
}

.blog__big-image {
  width: 267px;
  height: 267px;
  margin-right: 12px;
}

.blog__title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
}

.blog__text {
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8D96BD;
  margin: 32px 0;
}

.blog__bookmarks {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 13px 15px;
  margin-left: 8px;
  color: #A6B6DA;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}

.blog__bookmarks:hover {
  background-color: #F5F8FF;
}

.section--quotes {
  background: -webkit-gradient(linear, left top, left bottom, from(#EAF0FF), to(#F6F9FF));
  background: -o-linear-gradient(top, #EAF0FF 0%, #F6F9FF 100%);
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
  padding: 108px 0;
}

.section--quotes .section__text {
  max-width: 320px;
}

.section--quotes .section__title {
  font-size: 36px;
  line-height: 45px;
}

.quotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quotes__content {
  min-width: 0;
  position: relative;
  -webkit-clip-path: inset(-100vw -100vw -100vw 0);
          clip-path: inset(-100vw -100vw -100vw 0);
}

.quotes__content .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.quotes__content .slick-slide {
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.quotes__content .slick-slide.slick-active {
  opacity: 1;
}

.quotes__content .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quotes__content .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.quotes__content .slick-dots li button {
  font-size: 0;
  width: 8px;
  height: 8px;
  background-color: #D1D6E3;
  border-radius: 50%;
}

.quotes__content .slick-dots li.slick-active button {
  background-color: #5283FF;
}

.quotes .section__header {
  min-width: 350px;
  margin-right: 120px;
}

.quotes__item {
  background-color: #fff;
  padding: 40px 70px 55px;
  position: relative;
  max-width: 420px;
  margin-bottom: 50px;
  margin-right: 65px;
  border: 1px solid #D8E3FE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 50px #F3F5FA;
          box-shadow: 0px 5px 50px #F3F5FA;
}

.quotes__text {
  color: #676F95;
}

.quotes__image {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: absolute;
  bottom: 0;
  z-index: 3;
  -webkit-transform: translate3d(180%, 50%, 0);
          transform: translate3d(180%, 50%, 0);
}

.faq {
  padding: 150px 75px;
}

.faq__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 0 75px;
  height: 0;
  font-size: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.faq__content a {
  margin-right: 20px;
  white-space: nowrap;
}

.faq__item {
  padding: 30px 0;
  border-bottom: 1px solid #D8E3FE;
  cursor: pointer;
}

.faq__item._active .faq__title {
  font-weight: bold;
}

.faq__item._active .faq__content {
  height: 120px;
  overflow-y: scroll;
  padding: 16px 0 0 75px;
}

.faq__item._active .faq__content a {
  margin-right: 10px;
}

.faq__item._active .faq__header:before {
  border-color: #495274;
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  margin-top: 5px;
}

.faq__header {
  position: relative;
}

.faq__header:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-top: 3px solid #8E96B7;
  border-right: 3px solid #8E96B7;
  position: absolute;
  top: 50%;
  left: 18px;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(-50%) rotate(135deg);
      -ms-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
}

.faq__title {
  font-style: normal;
  font-size: 15px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #495274;
  padding-left: 55px;
}

.faq__text {
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  max-width: 390px;
  color: #8D96BD;
  margin-right: 55px;
}

.section--getStarted {
  padding: 90px 95px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/getStarted/01.png);
  background-image: url(../img/getStarted/01.png), -o-linear-gradient(220.68deg, #6888FF 12.77%, #5E80FF 73.11%);
  background-image: url(../img/getStarted/01.png), linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
}

.section--getStarted .section__header {
  text-align: center;
}

.section--getStarted .section__suptitle {
  color: #fff;
}

.section--getStarted .section__title {
  color: #fff;
}

.section--getStarted .section__text {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  max-width: 712px;
}

.getStarted__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 5px;
}

.newsletter__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #3D4F9F;
}

.newsletter__text {
  font-size: 14px;
  max-width: 330px;
  margin-top: 18px;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe .btn--save {
  height: 60px;
  width: 100%;
}

.subscribe__input {
  min-width: 280px;
  margin-right: 14px;
}

.footer {
  padding: 10px 0 50px;
}

.footer__content {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .btn--get-started {
  width: 150px;
}

.footer__copyright {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #AEB8D0;
}

@media (min-width: 912px) {
  .header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__list li {
    margin-right: 40px;
  }

  .footer__content {
    display: none;
  }
}

@media (max-width: 1300px) {
  .blog__content .slick-arrow.slick-prev {
    left: 2%;
  }

  .blog__content .slick-arrow.slick-next {
    right: 2%;
  }
}

@media (max-width: 991.98px) {
  .blog__photos {
    margin-right: 35px;
  }

  .section--quotes .section__header {
    margin-right: 25px;
  }
}

@media (max-width: 912px) {
  .page {
    padding-top: 50px;
  }

  .social {
    margin-right: 20px;
  }

  .social--header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .social--header .social__item {
    font-size: 20px;
  }

  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .text {
    font-size: 14px;
  }

  .text {
    font-size: 13px;
  }

  .header .btn--get-started {
    width: 250px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
  }

  .header__menu {
    height: 50px;
  }

  .menu__body {
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    overflow: auto;
    padding: 70px 10px 30px 10px;
    background-color: white;
    z-index: 3;
  }

  .menu__list li {
    margin: 0 0 30px 0;
    text-align: center;
  }

  .menu__list li:last-child {
    margin-bottom: 0;
  }

  .menu__link {
    font-size: 17px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 18px;
    right: 14px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #b6bac7;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .section--intro {
    background-image: none !important;
    background-color: #f2f5ff;
    padding: 70px 0 70px 0;
  }

  .section__title {
    font-size: 38px;
    margin: 6px 0 20px 0;
  }

  .customers__item {
    font-size: 25px;
  }

  .section--plan {
    background-position: right top 75px;
    padding: 90px 0;
    background-size: 53%;
  }

  .features {
    padding: 80px 0;
  }

  .stats__column {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .blog {
    padding: 60px 0;
  }

  .blog__item {
    margin-top: calc(50px + 10 * ((100vw - 320px) / 580));
  }

  .blog__item {
    margin-right: calc(50px + 10 * ((100vw - 320px) / 580));
  }

  .blog__item {
    margin-bottom: calc(50px + 10 * ((100vw - 320px) / 580));
  }

  .blog__item {
    margin-left: calc(50px + 10 * ((100vw - 320px) / 580));
  }

  .blog__item {
    margin: 50px 70px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .blog__photos {
    display: none;
  }

  .blog__title {
    font-size: 32px;
  }

  .section--quotes {
    padding: 65px 0;
  }

  .section--quotes .section__header {
    margin-right: 15px;
  }

  .quotes__item {
    padding: 35px 15px 50px;
    margin-right: 30px;
  }

  .quotes__image {
    -webkit-transform: translate3d(250%, 50%, 0);
            transform: translate3d(250%, 50%, 0);
  }

  .faq {
    padding: 100px 40px;
  }

  .newsletter {
    padding: 60px 0;
  }

  .footer {
    padding: 30px 0;
  }

  .footer__copyright {
    margin-top: 20px;
  }
}

@media (max-width: 767.98px) {
  .title {
    font-size: 32px;
  }

  .customers {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .customers__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    margin-bottom: 25px;
  }

  .section--plan {
    background-position: right top 50px;
    padding: 50px 0;
    background-image: none !important;
  }

  .features__content {
    margin: 50px 0 20px;
  }

  .features__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .section--quotes {
    padding: 40px 0;
  }

  .section--quotes .section__header {
    margin-bottom: 30px;
  }

  .quotes {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .quotes__content .slick-track {
    margin-left: 20%;
  }

  .quotes__item {
    margin-right: 20px;
    max-width: 360px;
  }

  .faq__content {
    padding-left: 50px;
  }

  .faq__item._active .faq__content {
    padding-left: 50px;
  }

  .faq__text {
    margin-right: 10px;
  }

  .section--getStarted {
    padding: 60px 25px;
  }

  .section--getStarted .section__text {
    max-width: none;
  }

  .newsletter {
    padding: 45px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .subscribe {
    margin-top: 30px;
  }
}

@media (max-width: 479.98px) {
  .btn {
    font-size: 12px;
  }

  .btn--get-started {
    font-size: 15px;
  }

  .btn--save {
    font-size: 15px;
  }

  .section--intro {
    padding: 40px 0 40px 0;
  }

  .section--customers {
    padding: 40px 0;
  }

  .section__title {
    font-size: 30px;
    margin: 2px 0 15px 0;
    line-height: 40px;
  }

  .section__header--small .section__title {
    font-size: 20px;
    line-height: 24px;
  }

  .customers__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    font-size: 35px;
    margin-bottom: 35px;
  }

  .customers__item:last-child {
    margin-bottom: 0;
  }

  .section--plan {
    padding: 30px 0;
  }

  .plan__buttons {
    margin-top: 30px;
  }

  .features {
    padding: 40px 0;
  }

  .features__title {
    font-size: 12px;
    margin: 12px 0;
  }

  .features__text {
    font-size: 10px;
  }

  .features__separator:before,
  .features__separator:after {
    margin: 0 10px 3px;
  }

  .stats__column {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .blog {
    padding: 40px 0;
  }

  .blog__item {
    margin: 15px auto;
  }

  .blog__title {
    font-size: 26px;
  }

  .blog__text {
    margin: 10px 0 15px;
  }

  .blog__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .blog__bookmarks {
    font-size: 11px;
  }

  .blog .btn--get-started {
    font-size: 12px;
  }

  .section--quotes .section__title {
    font-size: 28px;
  }

  .section--quotes .section__header {
    min-width: 0;
  }

  .quotes__content .slick-track {
    margin: 0;
  }

  .quotes__item {
    max-width: 300px;
    margin-bottom: 50px;
  }

  .quotes__image {
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
    left: 40%;
  }

  .faq {
    padding: 50px 0;
  }

  .faq__content {
    padding-left: 25px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .faq__item._active .faq__content {
    padding-left: 25px;
    height: 150px;
  }

  .faq__header:before {
    left: 10px;
  }

  .faq__title {
    font-size: 13px;
    padding-left: 45px;
  }

  .faq__text {
    font-size: 11px;
  }

  .section--getStarted {
    padding: 40px 0px;
  }

  .newsletter {
    padding: 30px 0;
  }

  .subscribe {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .subscribe .btn--save {
    margin-top: 10px;
  }

  .subscribe__input {
    margin-right: 0;
  }

  .footer {
    padding: 20px 0;
  }

  .footer .btn--get-started {
    width: auto;
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .stats__column--left {
    padding-right: 10px;
  }

  .stats__column--right {
    padding-left: 10px;
  }

  .stats__icon {
    font-size: 38px;
  }

  .stats__number {
    font-size: 26px;
  }

  .stats__text {
    font-size: 12px;
  }

  .stats__text {
    max-width: 140px;
  }

  .blog__item {
    padding-top: 20px;
  }

  .blog__item {
    padding-bottom: 20px;
  }

  .blog__item {
    padding-right: 15px;
  }

  .blog__item {
    padding-left: 15px;
  }
}

@media (max-width: 991.98px) and (min-width: 912px) {
  .social {
    margin-right: calc(20px + 8 * ((100vw - 912px) / 79.98));
  }
}

@media (min-width: 912px) and (max-width: 991.98px) and (min-width: 912px) {
  .menu__list li {
    margin-right: calc(25px + -1 * ((100vw - 912px) / 79.98));
  }
}

@media (min-width: 912px) and (max-width: 912px) {
  .menu__list li {
    margin-right: 25px;
  }
}

@media (max-width: 912px) and (min-width: 320px) {
  .stats__column--left {
    padding-right: calc(10px + 60 * ((100vw - 320px) / 592));
  }

  .stats__column--right {
    padding-left: calc(10px + 60 * ((100vw - 320px) / 592));
  }

  .stats__icon {
    font-size: calc(38px + 18 * ((100vw - 320px) / 592));
  }

  .stats__number {
    font-size: calc(26px + 16 * ((100vw - 320px) / 592));
  }

  .stats__text {
    font-size: calc(12px + 4 * ((100vw - 320px) / 592));
  }

  .blog__item {
    padding-top: calc(20px + 20 * ((100vw - 320px) / 592));
  }

  .blog__item {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / 592));
  }

  .blog__item {
    padding-right: calc(15px + 10 * ((100vw - 320px) / 592));
  }

  .blog__item {
    padding-left: calc(15px + 10 * ((100vw - 320px) / 592));
  }
}

@media (max-width: 767.98px) and (min-width: 320px) {
  .stats__text {
    max-width: calc(140px + 110 * ((100vw - 320px) / 447.98));
  }
}
@supports (-webkit-appearance:none){
.section--intro{background-image:url(../img/headerBg.webp)}
.section--plan{background-image:url(../img/Plan/illustration.webp)}
.section--features{background-image:url(../img/features/featuresBg.webp)}
.blog__content .slick-arrow.slick-prev{background-image:url("../img/blog/arrowLeft.svg")}
.blog__content .slick-arrow.slick-next{background-image:url("../img/blog/arrowRight.svg")}
.section--getStarted{background-image:url(../img/getStarted/01.webp)}
.section--getStarted{background-image:url(../img/getStarted/01.webp), -o-linear-gradient(220.68deg, #6888FF 12.77%, #5E80FF 73.11%)}
.section--getStarted{background-image:url(../img/getStarted/01.webp), linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%)}
}

 @media (min-width: 912px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1300px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 912px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 479.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 320px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px) and (min-width: 912px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 912px) and (max-width: 991.98px) and (min-width: 912px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 912px) and (max-width: 912px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 912px) and (min-width: 320px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px) and (min-width: 320px){

@supports (-webkit-appearance:none){

}

}
